/build/
!src/ru/kvaga/rss/feedaggrwebserver/junit/*
.project
.classpath
.class
.settings
bin/
*.env
data/
*.log
*.sh
jconsole*
src/test/*
src/custom/*
/FeedAggrWebServer.backup*
junit/*
_lib*
_lib/*
/FeedAggrWebServer_20220130.war
jssecacerts

